.body{
    background-color: #F05B56;   
}
.texto{
    color: white;
    font-family: monospace;
}

.quadrado{
    height: 212px;
    width: 411px;
    border-radius: 13%;
    background-color: white;
}
.clock{
    font-size: 8vmin;
    color:tomato;
        
}